<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk2JwbgxUb9Whe9kzocKFrJYX3ZWDaIQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>993672599625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.plotsklapps.getshTdone</string>
	<key>PROJECT_ID</key>
	<string>getsh-tdone</string>
	<key>STORAGE_BUCKET</key>
	<string>getsh-tdone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993672599625:ios:70bcdd4d13af796e470798</string>
</dict>
</plist>